#hey {
	background-color: rgb(36, 79, 117);
}
.main {
	display: flex;
}
.main_left {
	width: 35%;
	border: 2px solid black;
}
.main_right {
	width: 65%;
	border: 2px solid red;
}

#demo-helper-text-misaligned {
	width: 400px;
}
#demo-simple-select {
	width: 400px !important;
}
.h1 {
	margin: 40px;
}
